.img{
    width: 170px;
    height: 240px;
    border: 1px solid rgba(0,0,0,.15);
    padding: 10px;
    object-fit:cover;
    transition: all 0.2s ease-out;
}
.img:hover{

    border: 5px solid rgba(0,0,0,.15);
}
.title{
    text-align: center;
}
@media screen and (max-width: 1400px) {
    .img {
        height: 227px;
    }

}
@media screen and (max-width: 1200px) {
    .img {
        height: 194px;
    }
}
@media screen and (max-width: 991px) {
    .img {
        height: 215px;
    }
}

@media screen and (max-width: 768px) {
    .img {
        height: 155px;
    }
}
@media screen and (max-width: 576px) {
    .img{
        height: 236px;
    }
}