.wrapper{
    background-color: #fff;
    margin-top: 20px;
}
.statistic div{
    margin-right: 15px;
}
.contImg{
    padding-left: 20px;
    padding-top: 20px;

}
.bookImg{
    object-fit:cover;
    width: 176px;
    height: 260px;
    border: 1px solid #cecece;
    position: relative;
}
.contImg:hover .photoEdit{
    display: block;
}
.photoEdit{
    display: none;
    position: absolute;
    opacity: 0.9;
    margin-top: -35px;
}
.photoEdit button{
    font-size: 14px;
    width: 172px;

}
.chapterTitle{
    display: inline-block;
}
.chapterTitle a{
    color: #4582af
}
.chapterTitle a:hover{
    text-decoration: underline;
}
.photoprofile{
    width: 50px;
    height: 50px;
}
.photoprofile img{
    border-radius: 80%;
    object-fit:cover;
    width: 50px;
    height: 50px;
}
.usernameCom{
    font-size: 13px;
    font-weight: bold;
}
.usernameCom a{
    margin-right: 10px;
}
.usernameCom span{
    display: inline-block;
    font-weight: 400;
    opacity: 0.8;
}
.textCom{
    font-size: 17px;
    font-style: italic;
}
.comWrap{

}
.commentsWrapper{
    padding-bottom: 100px;
    max-height: 800px;
    overflow-y: scroll;
}
.showAnswer,.hiddenAnswer{
    color: #1a9aef;
    margin-top: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hiddenAnswer i {
    margin-top: 8px;
    margin-right: 5px;
}
.showAnswer i{
    margin-top: -5px;
    margin-right: 5px;
}

.answer{
    color: #6da3bd;
    cursor: pointer;
    margin-right: 20px;
}
.deleteCom{
    color: red;
    cursor: pointer;

}
.closeCom{
    text-align: right;
    font-size: 18px;
    cursor: pointer;
    color: #1a9aef;

}
.tags span{
    color: gray;
}
@media screen and (max-width: 1400px) {
    .bookImg{
        height: 221px;
    }
    .photoEdit button{
        width: 142px;
    }
}
@media screen and (max-width: 1200px) {
    .bookImg{
        height: 190px;
    }
    .photoEdit button{
        width: 112px;
    }
}
@media screen and (max-width: 991px) {
    .bookImg{
        width: 176px;
        height: 260px;
    }
    .contImg{
        text-align: center;
    }
    .photoEdit button{
        width: 173px;
    }
    .photoEdit{
        display: block;
        position: static;
        margin-top: 0;
    }
}
